body { background: #4a4ce1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 52px; display: flex; }
.block-helper-0 { color: #b41e8f; font-size: 13px; margin-bottom: 5px; }
.block-shipping-1 { color: #fd77a6; font-size: 16px; margin-bottom: 5px; }
.block-order-2 { color: #eb1f70; font-size: 15px; margin-bottom: 5px; }
.block-router-3 { color: #dd6701; font-size: 13px; margin-bottom: 5px; }
.block-sms-4 { color: #e63a6d; font-size: 17px; margin-bottom: 5px; }
.block-order-5 { color: #d906ea; font-size: 12px; margin-bottom: 5px; }
.block-metrics-6 { color: #769c23; font-size: 17px; margin-bottom: 5px; }
.block-cart-7 { color: #ef6cd7; font-size: 18px; margin-bottom: 5px; }
.block-router-8 { color: #852ccc; font-size: 17px; margin-bottom: 5px; }
.block-user-9 { color: #2bf7a5; font-size: 18px; margin-bottom: 5px; }
.block-cache-10 { color: #65fb93; font-size: 21px; margin-bottom: 5px; }
.block-user-11 { color: #38a6bf; font-size: 13px; margin-bottom: 5px; }